<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.board.BoardMapper">

	<select id="boardCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BOARD;
	</select>
	
	<select id="boardList" resultType="exam.board.BoardDTO" parameterType="java.lang.Integer">
		SELECT board_no
			  ,board_name
              ,board_subject
              ,board_content
              ,today
              ,board_hit
              ,num
          FROM (
          		SELECT board_no
          			  ,board_name
          		      ,board_subject
          		      ,board_content
          		      ,TO_CHAR(board_regdate,'YYYY-MM-DD') AS today
          		      ,board_hit
          		      ,rownum as num
            	  FROM (
            	  		SELECT board_no
            	  		 	  ,board_name
            	  		      ,board_subject
            	  		      ,board_content
            	  		      ,board_regdate
            	  		      ,board_hit 
                          FROM board 
                         ORDER BY board_regdate DESC
                        ) 
               )
         WHERE num BETWEEN #{ start } AND #{ end }
	</select>
	
	<select id="boardDetail" resultType="exam.board.BoardDTO" parameterType="java.lang.Integer">
		SELECT * FROM BOARD WHERE BOARD_NO = #{ board_no }
	</select>
</mapper>