<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.board.BoardMapper">

	<select id="boardCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM BOARD;
	</select>
	
 	<select id="boardList" resultType="exam.board.BoardDTO" parameterType="java.lang.Integer">
		SELECT BOARD_NO
			  ,BOARD_EMAIL
              ,BOARD_SUBJECT
              ,BOARD_CONTENT
              ,TODAY
              ,BOARD_HIT
              ,NUM
          FROM (
          		SELECT BOARD_NO
          			  ,BOARD_EMAIL
          		      ,BOARD_SUBJECT
          		      ,BOARD_CONTENT
          		      ,TO_CHAR(BOARD_REGDATE,'YYYY-MM-DD') AS TODAY
          		      ,BOARD_HIT
          		      ,ROWNUM AS NUM
            	  FROM (
            	  		SELECT BOARD_NO
            	  		 	  ,BOARD_EMAIL
            	  		      ,BOARD_SUBJECT
            	  		      ,BOARD_CONTENT
            	  		      ,BOARD_REGDATE
            	  		      ,BOARD_HIT
                          FROM BOARD 
                         ORDER BY BOARD_REGDATE DESC
                        ) 
               )
         WHERE NUM BETWEEN #{ start } AND #{ end }
	</select>
	
	<!-- 상세보기 -->
	<update id="boardCntHit" parameterType="java.lang.Integer">
		UPDATE BOARD SET BOARD_HIT = #{board_hit} + 1
	</update>
	<select id="boardDetail" resultType="exam.board.BoardDTO" parameterType="java.lang.Integer">
		SELECT * FROM BOARD WHERE BOARD_NO = #{ board_no }
	</select>
	
	<!-- 게시판 업데이트 -->
	<insert id="boardInsert_ok" parameterType="java.lang.String" >
		INSERT INTO BOARD
			(
				BOARD_NO
			   ,BOARD_SUBJECT
			   ,BOARD_CONTENT
			   ,BOARD_REGDATE
			   ,BOARD_EMAIL
			) VALUES (
			   BOARD_SEQ.NEXTVAL
			  ,#{board_subject}
			  ,#{board_content}
			  ,SYSDATE
			  ,#{board_email}	
			)
	</insert>
	<!-- 삭젠 -->
	<delete id="boardDelete">
		DELETE FROM BOARD WHERE BOARD_NO = #{BOARD_NO}	
	</delete>
</mapper>