<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.user.UserMapper">

	<!-- 이메일 유무 -->
	<select id="userEmailYn" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM USER_BASIC_INFO 
		 WHERE USER_EMAIL = #{ user_email }
	</select>
	
	<!-- 가입 -->
	<insert id="insertUser" parameterType="exam.user.UserInfoDTO">
	<selectKey keyProperty="user_no" resultType="java.lang.Integer" order="BEFORE">
		SELECT NVL(MAX(USER_NO)+1,1) AS USER_NO FROM USER_BASIC_INFO
	</selectKey>
		INSERT INTO USER_BASIC_INFO(
			USER_NO,
			USER_NAME,
			USER_EMAIL,
			USER_PWD
		)
		VALUES(
			#{user_no},
			#{user_name},
			#{user_email},
			#{user_pwd}
		)
	</insert>
	
</mapper>
